body {
  background-color: #030637;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.navbar {
  background-color: #150050;
  border-radius: 5px;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #150050;
  color: white;
}
/* start site */

.flexstart {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project {
  min-width: 90%;
}
.row {
  display: flex;
  flex-direction: row;
  margin: 1%;
  min-width: 30%;
  min-height: 50%;
}
.tab {
  text-align: center;
  margin: 5%;
  min-height: fit-content;
  min-height: 50%;
  min-width: 20vw;
  max-height: 50%;
  max-width: 20vw;
  background-color: #150050;
  border-radius: 5px;
}
.square {
  min-width: 50%;
  max-width: 90%;
  margin: 1%;
}
.image{
  max-width:30vw;
}
.projectname {
  text-decoration: none;
  color: white;
  font-size: 80%;
}
.title {
  border-top-left-radius:5px;
  border-top-right-radius: 5px;
  padding: 5%;
  background-color: #202060;
}

a {
  text-decoration: none;
}