body {
  background-color: #030637;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.navbar {
  background-color: #150050;
  border-radius: 5px;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #150050;
  color: white;
}
/* start site */

.flexstart {
  display: flex;
  flex-direction: column;
}

.maincontainer {
  display: flex;
  flex-direction: column;
  margin: 1%;
}

.leja {
  display: flex;
  flex-direction: row;
  background-color: #150050;
  width: 95vw;
  height: 20%;
}

.peri {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 1%;
  overflow-x: scroll;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #202060;
  min-width: 160px;
  min-height: 160px;
  margin: 1%;
  border-radius: 5px;
}

.title {
  font-size: 95%;
}

.titlehref {
  text-decoration: none;
  color: white;
}

.img {
  height: 90px;
  width: 90px;
  background-repeat: no-repeat;
}

.Project-a {
  color: white;
  text-decoration: none;
  margin: 1%;
}

@media only screen and (max-width: 1080px) {
  .peri{flex-direction: column; max-height: 50vh; overflow-y: scroll;}
}