*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

.flexstart {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    min-width: fit-content;
    max-width: fit-content;
    margin: 1px;
}

.box {
    border: solid black 5px;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    margin: 5px;
}