@font-face { font-family: Forte; src: url('FORTE.TTF'); } 

body {
  background-color: #f8e4ff;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.navbar {
  background-color: #d6a1ff;
  border-radius: 5px;
  overflow: hidden;
}

.topnav a {
  font-family: Forte;
  font-size: 30px;
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  color: black;
}
/* start site */

.flexstart {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: black;
  text-decoration: none;
}

.maincontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40vh;
}

.box {
  text-align: center;
  border-radius: 5px;
  border: solid black 5px;
  height: 30vh;
  width: 30vw;
  margin: 10vw;
}

.title {
  font-size: 3vh;
  width: 10vw;
}