body {
  background-color: #030637;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.navbar {
  background-color: #150050;
  border-radius: 5px;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #130241;
  color: white;
}
/* start site */

.flexstart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carpic {
  margin: 1%;
  max-width: 50%;
  border-radius: 5px;
}

.header {
  max-width: 100%;
}

.logbook {
  align-self: flex-end;
}

#pcpart {
  text-decoration: none;
  color: black;
}
