body {
    background-color: #36454F;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    background-color: #708090;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    background-color: #C0C0C0;
    color: black;
  
  }

  .flexstart {
    display: flex;
  }

  .weektab {
    background-color: #5b5e61;
    border-radius: 5px;
    min-width: 30%;
    margin-top: 1%;
    }

  .week {
    min-width: 50%;
  }

  .weekcontent {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    min-width: 60%;
    background-color: #5b5e61;
    border-radius: 5px;
    margin-top: 1%;
  }

  .daycontent {
    margin: 0.5%;
    border: solid black;
    background-color: #899499;
    border-radius: 5px;
  }

  .daytext {
    margin: 0.5%;
  }

  .weekbutton {

  }