body {
    background-color: #36454F;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    background-color: #708090;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    background-color: #C0C0C0;
    color: black;
  
  }
  
  .flexstart {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project {
    min-width: 90%;
  }

  .row {
    display: flex;
    flex-direction: row;
    margin: 1%;
    min-width: 30%;
    min-height: 50%;
  }

  .tab {
    text-align: center;
    border-radius: 5px;
    margin: 5%;
    min-height: 30%;
    min-width: 20%;
    background-color: #5b5e61;
  }

  .square {
    max-width: 90%;
  }

  .projectname {
    text-decoration: none;
    color: black;
    font-size: 99%;
  }