body {
  background-color: #452c63;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.navbar {
  background-color: #7a5db6;
  border-radius: 5px;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #513d78;
  color: white;
}

  .flexstart {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project {
    min-width: 90%;
  }

  .row {
    display: flex;
    flex-direction: row;
    margin: 1%;
    min-width: 30%;
    min-height: 50%;
  }

  .tab {
    text-align: center;
    margin: 5%;
    min-height: 30%;
    min-width: 20%;
    background-color: #5d4c88;
    border-bottom: solid black 3px;
    border-left: solid black 3px;
    border-right: solid black 3px;
    border-radius: 5px;
  }

  .square {
    max-width: 90%;
    margin: 1%;
  }

  .projectname {
    text-decoration: none;
    color: white;
    font-size: 100%;
  }

  .title {
    border-top: solid black 3px;
    border-bottom: solid black 3px;
    background-color: #7a5db6;
  }
  
  a {
    text-decoration: none;
  }