body {
    background-color: teal;
    font-family: Arial, Helvetica, sans-serif;
}

.flexstart {
    display: flex;
    flex-direction: row;
}

.left {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    align-items: center;
    text-align: center;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50%;
    min-height: 100%;
}

.box {
    margin-top: 5%;
    background-color: thistle;
    width: 50%;
    height: 50vh;
}

.row {
    min-width: 50%;
    background-color: aliceblue;
    margin: 2%;
    user-select: none;
    cursor:pointer
}

.catimg {
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 50vw;
    min-height: 50vh;
}

#clicknumber {
    margin-top: 5%;
    border: 2px black solid;
    min-width: fit-content;
    min-height: 3vh;
}

@media only screen and (max-width: 1100px) {
    .flexstart {flex-wrap: wrap;}
    .box {height: fit-content};
    .flexstart {flex-direction: column;}
  }