*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

body {
    background-color: #FFBB5C;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

.flexstart {
    display: flex;
    flex-direction: row;
    margin: 3%;
    margin-left: 0.5%;
    background-size: cover;
}

.left {
    background-color: #FF9B50;
    display: flex;
    flex-direction: column;
    min-width: 45%;
    max-width: 45%;
    align-items: center;
    text-align: left;
    border-radius: 5px;
    border: #C63D2F 3px solid;
    margin-right: 0.5%;
    background-size: contain;
    background-repeat: no-repeat;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 45%;
    max-width: 45%;
    min-height: 100%;
    background-color: #FF9B50;
    border-radius: 5px;
    border: #C63D2F 3px solid;
    margin-left: 0.5%;
}

.box {
    border-radius: 5px;
    margin-top: 5%;
    width: 60%;
    user-select: none;
}

.row {
    display: flex;
    flex-direction: row;
    min-width: 50%;
    background-color: #E25E3E;
    margin: 2%;
    user-select: none;
    cursor:pointer;
    padding: 3%;
    border: #C63D2F 3px solid;
    border-radius: 5px;
}

.rowtext {
    margin-left: 1%;
}

.price {
    margin-left: 1%;
    margin-right: 2%;
}

.bought {
    margin-left: 1%;
}

.catcontainer {
    min-width: 90%;
}

.catimg {
    user-select: none;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 80vh;
    border-radius: 5px;
}

@media only screen and (max-width: 1100px) {
    .flexstart {flex-direction: column;}
    .left {min-width: 100%; margin-right: 0%;}
    .right {min-width: 100%; margin-left: 0%;}
    .row {min-width: 100%;}
    .box {min-width: 75%;}
    .midblock{min-width: 30vw; max-width: 30vw;}
    .mid{display: flex;}
}

.total {
    margin: 1%;
}

.buy {
    margin: 1%;
}

#clicker {
    cursor: pointer;
}

.midblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FF9B50;
    border-radius: 5px;
    border: #C63D2F 3px solid;
    min-height: 20vh;
    max-height: 20vh;
    width: 10vw;
}

#gold {
    cursor: pointer;
    margin-bottom: 1.5%;
}

.clickclick {
    margin-top: 25%;
}

/* .vid {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
} */

/* .vids {
    width: 50%;
} *.marketcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}  */

.marketcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stockmarket {
    background-color: #FF9B50;
    border-radius: 5px;
    border: #C63D2F 3px solid;
    width: 40vw;
    height: 70vh;
    text-align: center;
}

