*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #030637;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 0.5%;
}

.navbar {
  background-color: #150050;
  border-radius: 5px;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #130241;
  color: white;
}
/* start site */

.flexstart {
  display: flex;
  flex-direction: row;
}
.logoimg {
  margin-top: 5vh;
  max-width: 30%;
}
.logo {
  margin: 1%;
  max-width: 90%;
}
.text {
  margin-top: 5vh;
  max-width: 50%;
}

.cv {
  margin-top: 5vh;
}